<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.7.1" />
  <package id="jQuery.UI.Combined" version="1.8.16" />
  <package id="jQuery.Validation" version="1.9" />
  <package id="Moq" version="4.0.10827" />
  <package id="jQuery.vsdoc" version="1.6" />
  <package id="Iesi.Collections" version="3.2.0.4000" />
  <package id="NHibernate" version="3.2.0.4000" />
  <package id="elmah.corelibrary" version="1.2.1" />
  <package id="elmah" version="1.2.0.1" />
  <package id="microsoft-web-helpers" version="1.15" />
  <package id="AjaxControlToolkit" version="4.1.51116" />
</packages>