<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="FolderPath" value="~/UserPanel\UserImgUpload/"/>
    <add key="ImageRoot" value="~/AdminPanel\AdminImages\uploadImages/"/>
    <add key="FilesRoot" value="~/AdminPanel\AdminImages\files/"/>
    <add key="com.sb24.acquirer.ReferencePayment" value="https://acquirer.sb24.com/ref-payment/ws/ReferencePayment"/>
    <add key="DefaultTimeZone" value="4:26:30"/>
  </appSettings>
  <connectionStrings>
    <add name="ConStr" connectionString="Data Source=.;Initial Catalog=SenseDB;Integrated Security=True; Connect Timeout=200; pooling='true'; Max Pool Size=200" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.net>
    <mailSettings>
      <smtp from="mail@hesesheshom.com">
        <network host="smtp.hesesheshom.com"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<trace enabled="false" localOnly="true"/>-->
    <identity impersonate="true"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xaml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--<customErrors mode="of" defaultRedirect="error.htm"></customErrors>-->
    <httpCookies httpOnlyCookies="true"/>
    <healthMonitoring enabled="true">
      <providers>
        <add name="EmailProvider" type="System.Web.Management.SimpleMailWebEventProvider" from="mail@hesesheshom.com" to="Hamidnch2007@gmail.com" subjectPrefix="Error: " buffer="true" bufferMode="Notification"/>
      </providers>
      <rules>
        <add provider="EmailProvider" name="All App Events" eventName="All Errors"/>
      </rules>
    </healthMonitoring>
    <authentication mode="Forms">
      <forms name="HamidCookie" timeout="30" defaultUrl="Home.aspx" protection="All" slidingExpiration="true" loginUrl="Home.aspx"/>
    </authentication>
    <!--<authorization>
            <deny users="?"/>
        </authorization>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <!--enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false"-->
      <controls>
        <add tagPrefix="Ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="AjaxData" namespace="AjaxDataControls" assembly="AjaxDataControls"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" executionTimeout="360000"/>
    <!--<httpModules>
            <add name="OnlineActiveUsers" type="OnlineActiveUsers.OnlineUsersModule"/>
        </httpModules>-->
    <sessionState mode="InProc" cookieless="UseCookies" timeout="5"/>
    <httpHandlers>
      <!--<remove verb="*" path="*.asmx"/>-->
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="MSCaptcha" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <location path="UserRegisteration.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Home.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CaptchaImage.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Upload.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCompression="false" enableCaching="true"/>
      <webServices>
        <jsonSerialization maxJsonLength="5000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web.extensions>
    <scripting>
      <webServices>
        <profileService enabled="true" readAccessProperties="DndColumns" writeAccessProperties="DndColumns"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>