body
{
    background-image: url('../Images/backbody.jpg');         
}
#screen
{
	position: absolute;
	left: 0;
	top: 0;
    opacity: 0.6;
	background: #000;
}
.WindowTitle
{
    background: #d5ff84 url('../../Images/Modal/sprite.gif') repeat-x 0px -82px;
    color: #528c00;
    padding: 7px 22px 5px 5px;
    font-family: "sans serif" ,verdana,tahoma,helvetica;
    font-weight: bold;
    cursor: move;
}
    div.WindowBody
{
    background: url('../../Images/Modal/bc.gif') repeat-x center bottom;
    padding: 0px !important;
    height: 100% !important;
    padding-bottom: 10px !important;
    overflow: hidden;
}

    div.WindowBorderLeft
{
    background: url('../../Images/Modal/bl.gif') no-repeat left bottom;
    padding-left: 7px;
    height: 100% !important;
}

    div.WindowBorderRight
{
    background: url('../../Images/Modal/br.gif') no-repeat right bottom;
    padding-right: 7px;
    height: 100% !important;
}

    div.WindowTitleBorderLeft
{
    background: url('../../Images/Modal/sprite.gif') no-repeat 0px -41px;
    padding-left: 3px;
}

    div.WindowTitleBorderRight
{
    background: url('../../Images/Modal/sprite.gif') no-repeat right 0px;
    padding-right: 3px;
}
    .TitleCloseButton
{
    position: absolute;
    right: 7px;
    top: 4px;
    padding: 0 0 0 19px;
    height: 19px;
    width: 0px;
    background: url('../../Images/Modal/close.gif') no-repeat left top;
    overflow: hidden;
}
    .TitleCloseButton:hover  
{
    background-position: bottom left;
    outline: none;
}
