.ecoArticleMarket_mainContent
{
    width: 876px;
    height: 500px;
}
.ecoArticleMarket_Desc
{
    border: thin solid #C0C0C0;
    font-family: tahoma;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    margin: 0 35px 0 0;
    padding: 20px 20px;
    width: 760px;
    color: white;
    clear: both;
}
.ecoArticleMarket_btnOrder
{
    float: left;
    margin: 10px 35px 10px 21px;
}
.btn
{
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    color: #FFFF00;
    margin: 0 0 0 20px;
}
#screen
{
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
}