/* MENU */

#nav  
{
    width: 932px;
    height: 47px;
    font-family: Tahoma,helvetica, arial, sans-serif;
    background-image: url('../Images/Economic/Eco_HorizMenu.png');
    background-repeat: repeat-x;
     text-align: center;
     float: right;
    margin-right: 9px;
}

#nav li a, #nav li {
 float: Right;
}

#nav li
{
    list-style: none;
    margin-left: -10px;
    float: right;
    position: relative;
    background: url('../Images/Economic/Eco_SeparateMenu.png') no-repeat left top;  
    z-index: 1000;
}

#nav li a {
 padding: 1em 2em;
 text-decoration: none;
    display: block;
    font-size: 12px;
    color: #DBDBDB;
    text-decoration: none;    
    width: 110px;
    text-align: center;
    line-height: 22px;    
}

#nav li a:hover {
    background-image: url('../Images/Economic/Eco_HorizMenuOver.png');
    background-repeat: no-repeat;
    background-position: 0px center;    
    color: #FFFFFF;
}
/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
	left : 0;
	top: 0;
}

#nav li ul
{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 0;
    margin: 0;

}
 #nav li ul li
{
    margin-right: 5px;
    background-image: url('../Images/Economic/Menu/SubHorizMenu.gif');
    background-repeat: repeat-x;
}
 #nav li ul li a
 {
     font-size: 10px;
     font-weight:bold;
 }
 
/*
 #nav li ul li a:last
{
    background-position: bottom;
    background-image: url('../Images/Economic/Menu/SubBackMenuLast.png');
    background-repeat: repeat-x;
}*/
 #nav li ul li a, #nav li ul li a:hover
{
    background-image: url('../Images/Economic/Menu/SubBackMenu.png');
    background-repeat: repeat-y;
}
#nav li:hover > ul {
 display: block;
}

#nav li ul li, #nav li ul li a {
 float: none;
}

#nav li ul li {
 _display: inline; /* for IE6 */
}

#nav li ul li a {
 width: 110px;
 display: block;
}



/* SUBSUB Menu */

#nav li ul li ul {
 display: none;
}

#nav li ul li:hover ul {
 right: 100%;
 top: 0;
}


#nav li ul 