*
{
    direction: rtl; 
    font-family: tahoma; 
}
#headerForget
{        
  
    padding: 10px;
    margin: 5px;
    background-color: #666666;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-align: right;

}
#titrForget
{ 
    padding: 10px;
    margin: 5px; 
    font-size: 12px;    
}
#contentForget
{
    padding: 10px;
    margin: 5px;
    font-size: 10px;
    vertical-align: super;    
}
.txtForget
{
    direction: ltr;
	background-color:rgb(255,255,255);
	border:solid 1px #6b91ab;
	padding:4px 5px;
	outline:0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.txtForget:Focus
{
    background: #f2f6f8 none;
}
#buttonForget
{
    text-align: center;
}
