.pager
{
 background-color: #404040;   
 border-color:#404040;
}
.pager a
{
    width: 15px;
    /*border: thin solid #996600;*/
    color: #00FF00;
    padding: 5px 5px;
}
.pager span
{
    text-align: center;
    font-size: 12px;
    padding: 8px;
}